/*引入左边aside样式*/
@import url('aside_left.css');
/*公共部分开始*/
@font-face {
  font-family: 'iconfont';
  src: url('../icon-font/icon-font/iconfont.eot');
  src: url('../icon-font/icon-font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../icon-font/icon-font/iconfont.woff') format('woff'),
  url('../icon-font/icon-font/iconfont.ttf') format('truetype'),
  url('../icon-font/icon-font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body{
	width: 100%;
	overflow-x:hidden;
}
.container{
	margin:0 auto;
	width: 1000px;
	height: 100%;
}
.clear-both::after{
	content:'';
	display:table;
	clear:both;
}
.iconfont_sjx{
	font-size:12px;
	margin-left:2px;
	vertical-align:middle;
}
/*公共部分结束*/
/*header 开始*/
	/*header 第一部分开始*/
	/*北京*/
#beijin_left:hover{
	background: white;
    border: 1px solid rgba(167,167,167,.4);
    border-bottom: none;
}
#beijin_left:hover div#top-nav-show:after{
	content:'';
	display:block;
	width: 87px;
	height: 2px;
	background: white;
	position: absolute;
	left:0;
	top:-1px;
}
#vip-common-header{
	width: 100%;
	height: 168px;
}
#vip-common-header>.top-nav{
	width: 100%;
	height: 28px;
	background:#f5f5f5;
	color:777;
}
#vip-common-header>.top-nav>.container{
	height: 100%;
}
#vip-common-header>.top-nav>.container>.left{
	width: 87px;
	height: 100%;
	float:left;
	position:relative;
}
#vip-common-header>.top-nav>.container>.left>div:nth-child(1){
	width: 100%;
	height: 100%;
	line-height:28px;
	text-align:center;
	font-size:12px;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show{
	height: 461px;
	position: absolute;
    top: 26px;
    left: -1px;
    z-index: 10;
    width: 295px;
    line-height: 26px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    color:#555;
    font-size: 12px;
    display: none;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show>p{ 
	margin:5px auto;
    padding-left: 4px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #666;
    font-weight: 700;
    text-align: left;
    color: #000;
    font-size: 14px;
    width: 255px;
    height: 31px;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show table{
	border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: #343434;
    font-size:12px;
    line-height:26px;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show table>tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show table tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    padding-left:10px;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show table tr>td{
	text-align:left;
	width: 100%;
	padding-left: 10px;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show table tr>th{
	height: 26px;
    width: 20px;
    text-align: left;
    font-weight: 100;
    padding-left:18px;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show table tr>td>a{
	text-decoration:none;
	color:#555;
	cursor: pointer;
    padding: 2px 5px;
    color: #676767;
    margin-right: 3px;
}
#vip-common-header>.top-nav>.container>.left>#top-nav-show table tr>td>a:hover{
	color:#f1037f;
}
#top-nav-top{
	width: 771px;
	height: 100%;
	float:right;
}
#top-nav-top>li{
	height: 100%;
	width: 80px;
	box-sizing:border-box;
	float: left;
	line-height: 28px;
	text-align:center;
	position:relative;
}
#top-nav-top>li>a:hover{
	color:#f10180;
}
#top-nav-top>li:nth-child(3)>a:hover{color:black;}
#top-nav-top>li:nth-child(2){width:55px;}
#top-nav-top>li:nth-child(3){width:98px;}
#top-nav-top>li:nth-child(5){width:90px;}
#top-nav-top>li:nth-child(6){width:105px;}
#top-nav-top>li:nth-child(7){width:100px;}
#top-nav-top>li>a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #666;
	font-size: 12px;
}
#top-nav-top>li>a>span{
	float:right;
	margin-right:-5.5px;
	font-size: 12px;
	color:rgba(0,0,0,.2);
}
	/*请登录*/
#top-nav-top>li:first-child:hover{
	border: 1px solid #cdcdcd;
	background: white;
    border: 1px solid rgba(167,167,167,.4);
    border-bottom: none;
}
#top-nav-top>li:first-child:hover div{
	display:block;
}
#top-nav-top>li:first-child:hover div#J_userInfo::after{
	content:'';
	display:block;
	width: 78px;
	height: 2px;
	background: white;
	position: absolute;
	left:0;
	top:-1px;
}
/*滑过去掉斜杠*/
#top-nav-top>li:first-child:hover>a>span{
	display:none;
}#top-nav-top>li:nth-child(8):hover>a>span{
	display:none;
}
#J_userInfo{
	left: -1px;
    padding-top: 14px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    width: 280px;
    height: 150px;
    padding: 10px 0;
    z-index: 20;
    border: 1px solid #cdcdcd;
    color: #333;
    display:none;
}
#J_userInfo>.top-nav-inf{
	line-height: 26px;
	padding: 15px 20px 0;
    position: relative;
}
.top-nav-pic-infs{
	border-bottom: #d6d6d6 1px dotted;
    width: 175px;
    padding-left: 5px;
    height: 32px;
    line-height: 32px;
    text-align: left;
    float:left;
}
.top-nav-pic-infs>a{
	line-height: 32px;
    text-align: left;
    text-decoration:none;
    color:black;
    font-size:12px;
}
.top-nav-pic-infs>a:hover{
	color:#f10180;
}
.top-nav-list{
	line-height: 20px;
    float: left;
    margin: 10px 12px;
    padding: 0 0 0 15px;
}
.top-nav-list>span{
	margin: 3px 0;
    width: 50%;
    float: left;
    line-height: 20px;
    display:block;
}
.top-nav-list>span>a:hover{
	color:#f10180;
}
.top-nav-list>span>a{
	text-decoration:none;
	font-size:12px;
	color:black;
	float:left;
}
#J_userInfo>.top-nav-inf>span{
	display:block;
	background-image: url(../img/sprint.png);
    background-position: -164px -142px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-rig ht:10px;
    float:left;
    text-align:center;
}
	/*签到有礼*/
#J_signin_unSigned{
	position: absolute;
    width: 462px;
    height: 154px;
    border: 1px solid #dbdada;
    background:#fff;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    font: 12px/18px;
    color: #4d4d4d;
    z-index: 50;
    left: -185px;
    display:none;
}
#top-nav-top>li:nth-child(3):hover #J_signin_unSigned{
	display:block; 
}
#J_signin_unSigned::after{
	content:'';
	display:block;
	position:absolute;
	z-index:-5;
	left:48%;
	top:-2px;
	width: 10px;
	height: 10px;
	background:#fff;
	transform:rotate(45deg);
	box-shadow: 0 0 3px rgba(0,0,0,.1);
}
#J_signin_unSigned>div{
	position: relative;
    background-color: #fff;
    width: 402px;
    height: 152px;
    padding: 0 29px;
}
#J_signin_unSigned>div>.head-sign-day{
	height: 104px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    background:url(../img/header_img/qiandao.png) no-repeat;
}
#J_signin_unSigned>div>.head-sign-msg{
	    height: 33px;
    line-height: 33px;
    text-align: left;
}
#J_signin_unSigned>div>.head-sign-msg>#J_signin_btn{
	margin-top: 10px;
	text-decoration: none;
    vertical-align: top;
    background-color: #f10180;
    border: 1px solid #f10180;
    border-radius:3px;
    min-width: 48px;
    padding: 0 11px;
    font-size:12px;
    line-height:22px;
    height: 22px;
    text-align:center;
    float: right;
    color: #fff;
}#J_signin_unSigned>div>.head-sign-msg>#J_signin_href{
	display: inline-block;
    max-width: 325px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    font-size:12px;
    color:#666;
    height: 23px;
}#J_signin_unSigned>div>.head-sign-msg>#J_signin_href:hover{
	color:#f20080;
}
/*我的特卖*/
#top-nav-top>li:nth-child(5)>ul{
		width: 110px;
		height: 100px;
		background:white;
		position:relative;
		box-shadow: 0 1px 3px rgba(167,167,167,.4);
		border:1px solid rgba(167,167,167,.4);
		border-top:none;
		z-index:5;
		padding-top:10px;
		display:none;
		left:-1px;
		top:-1px;
}
#top-nav-top>li:nth-child(5):hover{
	background:white;
	border:1px solid rgba(167,167,167,.4);
	border-bottom:none;
}
#top-nav-top>li:nth-child(5):hover>a>span{opacity:0;}
#top-nav-top>li:nth-child(5):hover>ul{
	display:block;
}
#top-nav-top>li:nth-child(n+5):hover>ul::after{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:-2px;
	width: 100%;
	height: 4px;
	background:white;
}
#top-nav-top>li:nth-child(5)>ul>li{
		width: 100%;
		height: 30%;
}
#top-nav-top>li:nth-child(5)>ul>li>a{
	width: 100%;
	font-size:12px;
	color:#000;
	text-decoration:none;
}
#top-nav-top>li:nth-child(5)>ul>li>a:hover{
	color:#f10180;
}
/*会员俱乐部*/
#top-nav-top>li:nth-child(6):hover{
	background:white;
	border:1px solid rgba(167,167,167,.4);
	border-bottom:none;
}

#top-nav-top>li:nth-child(6):hover>a>span{opacity:0;}
#top-nav-top>li:nth-child(6):hover>ul{
	display:block;
	position:relative;
	z-index:999;
}
#top-nav-top>li:nth-child(6)>ul{
	width: 100%;
    height: 100px;
    background: white;
    position: relative;
    box-shadow: 0 1px 3px rgba(167,167,167,.4);
    border: 1px solid rgba(167,167,167,.4);
    border-top: none;
    z-index: 5;
    padding-top: 10px;
    display: none;
    left: -1px;
    top: -1px;
}
#top-nav-top>li:nth-child(6)>ul>li{
		width: 100%;
		height: 30%;
}
#top-nav-top>li:nth-child(6)>ul>li>a{
	width: 100%;
	font-size:12px;
	color:#000;
	text-decoration:none;
}
#top-nav-top>li:nth-child(6)>ul>li>a:hover{
	color:#f10180;
} 
/*客户服务*/
 #top-nav-top>li:nth-child(7):hover{
	background:white;
	border:1px solid rgba(167,167,167,.4);
	border-bottom:none;
}

#top-nav-top>li:nth-child(7):hover>a>span{opacity:0;}
#top-nav-top>li:nth-child(7):hover>ul{
	display:block;
	position:relative;
	z-index:999;
}
#top-nav-top>li:nth-child(7)>ul{
	width: 100%;
    height: 140px;
    background: white;
    position: relative;
    box-shadow: 0 1px 3px rgba(167,167,167,.4);
    border: 1px solid rgba(167,167,167,.4);
    border-top: none;
    z-index: 5;
    padding-top: 10px;
    display: none;
    left: -1px;
    top: -1px;
}
#top-nav-top>li:nth-child(7)>ul>li{
		width: 100%;
		height: 23%;
}
#top-nav-top>li:nth-child(7)>ul>li>a{
	width: 100%;
	font-size:12px;
	color:#000;
	text-decoration:none;
}
#top-nav-top>li:nth-child(7)>ul>li>a:hover{
	color:#f10180;
} 
/*二维码*/
#top-nav-top>li:nth-child(8):hover{
	background:white;
	border:1px solid rgba(167,167,167,.4);
}
#top-nav-top>li:nth-child(8):hover #J_phoneTip_con{
	display:block;
}#top-nav-top>li:nth-child(8):hover #J_phoneTip_con::after{
	content:'';
	display:block;
	width: 79px;
	height: 2px;
	background:white;
	position:absolute;
	right:0;
	top:-1px;
}
#J_phoneTip_con{
	width: 185px;
    padding-top: 12px;
    text-align: center;
    right: -1px;
    top: 27px;
    position:relative;
    z-index:999;
    padding-bottom: 0;
    position: absolute;
    top: 25px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    color: #333;
    display:none;
}#J_phoneTip_con>a>img{
	width: 161px;
    height: 161px;
}#J_phoneTip_con>p{
	font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    height: 42px;
    color: #333;
}#J_phoneTip_con>p>a{
	font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    text-align:center;
    text-decoration:none;
    color:black;
}#J_phoneTip_con>p>a:hover{color:#f10180;}
/*其他*/ 
#top-nav-top>li:nth-child(9):hover{
	background:white;
	border:1px solid rgba(167,167,167,.4);
}
#top-nav-top>li:nth-child(9):hover .service-infor-more{
	display:block;
}
#top-nav-top>li:nth-child(9):hover .service-infor-more::after{
	content:'';
	display:block;
	width: 79px;
	height: 2px;
	background:white;
	position:absolute;
	right:0;
	top:-1px;
}
.service-infor-more{
	display:none;
	right: -1px;
    position:absolute;
    width: 300px;
    top: 24px;
    padding: 10px 0;
    z-index: 20;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    color: #333;
}
.service-infor-more a:hover{
	color:#f10180;
}
.service-infor-more>h5{
	padding: 0 20px;
    text-align: left;
    width: 260px;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
}
.service-infor-more>h5:nth-of-type(2){
	margin-top:20px;
}
.service-infor-more>p{
	text-align: left;
    padding: 0 20px;
    display: block;
    width: 260px;
    float: none;
    margin-bottom:10px;
}
.service-infor-more>p:nth-of-type(1)::after{
	border-top: #d5d5d5 1px dotted;
    height: 5px;
    content: "";
    position: absolute;
    width: 260px;
    top: 80px;
    left:20px; 
    margin-bottom:15px;
}
.service-infor-more>p>a{
	text-decoration:none;
	display: inline;
    margin-right: 10px;
    color:#333;
    font-size:12px;
    vertical-align: top;
}
	/*header 第一部分结束*/

	/*header 第二部分开始*/
#vip-common-header>.head-logo{
	width: 100%;
	height: 100px;
}
#vip-common-header>.head-logo>.container>.left{
	height: 100%;
	width: 250px;
	float: left;
}
#vip-common-header>.head-logo>.container>.left>a{
	display: block;
	width: 100%;
	height: 100%;
}
#vip-common-header>.head-logo>.container>.left>a>img{width: 100%;height: 100%;}
#vip-common-header>.head-logo>.container>.center{
	width: 377.5px;
	height: 100%;
	float: right;
}
#vip-common-header>.head-logo>.container>.center>a{
	float: left;
	display: block;
	width: 33.3%;
	height: 100%;
}
#vip-common-header>.head-logo>.container>.center>a>img{
	width: 100%;
	height: 100%;
}
#vip-common-header>.head-logo>.container>.right{
	width: 136px;
	height: 100%;
	float: right;
	position:relative;
	font-size:14px;
}
#vip-common-header>.head-logo>.container>.right .button{
	width: 340px;
	height: 80px;
	background:#fff;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
	position:absolute;
	left:-204px;
	top:70px;
	text-align:center;
	line-height:70px;
	font-size:13px;
	z-index:5;
	display:none;
}
#vip-common-header>.head-logo>.container>.right .button::after{
	content:'';
	display:block;
	width: 136px;
	height: 10px;
	position:absolute;
	right:0;
	top:-5px;
	background:white;
}
#vip-common-header>.head-logo>.container>.right .button a{
	text-decoration:none;
	color:#f10180;
}
#vip-common-header>.head-logo>.container>.right .top a{
	display:block;
	width: 100%;
	height:53px;
	line-height:53px;
	margin-top:23.5px;
	text-decoration:none;
	text-align:center;
	color:#333;
}
#vip-common-header>.head-logo>.container>.right .top i{position:relative;}
#vip-common-header>.head-logo>.container>.right .top i>span{
	position:absolute;
	font-size:12px;
	left:7px;
	top:-7px;
	line-height:15px;
	border-radius:10px;
	width: 20px;
	height: 15px;
	background:#f10180;
	color:#fff;
}
#vip-common-header>.head-logo>.container>.right .top a>span{
	margin-left:8px;
}
	/*header 第二部分结束*/
	/*header 第三部分开始*/
#vip-common-header>.main-nav{
	width: 100%;
	height: 40px;
	background:#f10180;
	color:#fff;
}
#vip-common-header>.main-nav>ul{
	width: 100%;
	height: 100%;
}
#vip-common-header>.main-nav li{
	position:relative;
	width: 60px;
	height: 100%;
	float:left;
	line-height:40px;
	text-align:center
}
#vip-common-header>.main-nav li .more:hover+.show{
	display:block;
}
#vip-common-header>.main-nav li .more.iconfont:after {
	display:block;
        font-size: 40px;
        display: inline-block;
        transform: rotate(90deg);
    }
#vip-common-header>.main-nav li .show:hover{
	display:block;
}
#vip-common-header>.main-nav li .show{
	display:none;
	width: 558px;
	max-height:335px;
	box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
    padding: 26px 10px 11px 26px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 40px;
    overflow: hidden;
    font-size: 0;
    z-index:997;
}
#vip-common-header>.main-nav li .channel-item{
	position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0 16px 16px 0;
    width: 170px;
    height: 96px;
    float:left;
    border-radius: 4px;
    vertical-align: top;
    overflow: hidden;
}
#vip-common-header>.main-nav li .channel-item:hover .shadow{
	top:0px;
}
#vip-common-header>.main-nav li .shadow{
	position:absolute;
	left:0;
	top:25px;
	background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
	transition:500ms;
	line-height:95px;
	text-align:center;
	font-size:18px;
	color:#fff;
	z-index:2;
	width: 100%;
	height: 100%;
}
#vip-common-header>.main-nav li .channel-item>a{
	position:relative;
	display:block;
	width: 100%;
	height: 100%;
}
#vip-common-header>.main-nav li:hover{
	background:#db0a76;
}
#vip-common-header>.main-nav li>a{
	display:block;
	width: 100%;
	height: 100%;
	color:#fff;
	text-decoration:none;
}
#vip-common-header>.main-nav li:nth-child(1){width: 112px;background:#bd1067}
#vip-common-header>.main-nav li:nth-child(2){width: 92px;}
#vip-common-header>.main-nav li:nth-child(4){width: 92px;}
#vip-common-header>.main-nav li:nth-child(7){width: 92px;}
#vip-common-header>.main-nav li:nth-child(9){width: 74px;}
#vip-common-header>.main-nav .last-li{
	float:right;
	width: 86px;
}
#vip-common-header>.main-nav li .top_logo{
	height: 40px;
	vertical-aligin:middle;
	margin-left:8px;
	float:left;

}
	/*header 第三部分结束*/
/*header 结束*/
/*banner开始*/
.banner{
	margin:0 auto;
	width: 100%;
	height: 422px;
	background:url(../img/banner_img/banner_bg.jpg) no-repeat;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
.banner>.banner-main{
	height: 380px;
	padding: 12px;
    padding-bottom: 0;
    background: #fff;
    background: rgba(255,255,255,.95);
    width: 976px;
    position: absolute;
    bottom:2px;
    left:50%;
    transform:translatex(-50%);
    box-shadow: 0 1px 3px rgba(167,167,167,.4);
}
.banner>.banner-main>.focus-banner{
	z-index: 1;
	position:relative;
    overflow: hidden;
    height: 340px;
    width: 100%;
}
.banner>.banner-main>.focus-banner>span{
	background: rgba(0,0,0,.2);
    border-radius: 2px;
    position: absolute;
    width: 33px;
    height: 66px;
    line-height: 66px;
    font-size: 30px;
    cursor: pointer;
    top: 55%;
    left:0;
    margin-top: -53px;
    z-index: 2;
    text-align: center;
    -webkit-transition: all .3s ease-in;
    color:rgba(255,255,255,.5);
}
.banner>.banner-main>.focus-banner>span:hover{
	color:rgba(255,255,255,1);
	background-color:rgba(0,0,0,.45);
}
.banner>.banner-main>.focus-banner>span:nth-child(3){
	left:943px;
}
.banner>.banner-main>.focus-banner>ul{
	width: 100%;
	height: 100%;
	position:relative;
}
.banner>.banner-main>.focus-banner>ul>li{
	position:absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}
.banner>.banner-main>.focus-banner>ul>li>a{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width: 100%;
	height: 100%;
}
.banner>.banner-main>.focus-banner>ul>li>a>img{
	width: 100%;
	height: 100%;
}
.banner>.banner-main>.trigger-banner{
	text-align: center;
    width: 976px;
    left: 50%;
    margin-left: -488px;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 0;
}
.banner>.banner-main>.trigger-banner>ul{
	width: 100%;
	height: 100%;
}
.banner>.banner-main>.trigger-banner>ul>li{
    display: inline-block;
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    font: 12px/40px 'microsoft Yahei';
    color: #666;
    cursor: pointer;
    border-bottom: transparent 3px solid;
    position: relative;
}
.banner>.banner-main>.trigger-banner>ul>li>span{
	position:absolute;
	right:-2px;
	top:0;
	color:rgba(0,0,0,.5);
}
.red_button{
	background-color:#e6057d;
    position: absolute;
    bottom: 0px;
    left: 293px;
    height: 3px;
    width: 195px;
    z-index:10;
}
	/*banner_button_img开始*/
#banner_buttom_img{
	width: 1366px;
	height: 364px;
	margin-left:50%;
	transform:translatex(-50%);
	background:#f6e9d6;
	padding-top:30px;
}
#banner_buttom_img>.container{
	width: 1020px;
	transform:translatex(20px);
}
#banner_buttom_img>.container>div{
	position:relative;
	overflow:hidden;
}
#banner_buttom_img>.container>div:hover::before{
	 transition:0.8s linear;/*过渡,改变闪光的位置*/
	left: 400px;
	visibility:hidden;
	opacity:0;
}
#banner_buttom_img>.container>div::before{
			 content: '';
            position: absolute;
            width: 50px;
            height: 150px;
            visibility:visible;
            opacity:1;
            top: 0;
            left: -100px;
            overflow: hidden;
            background-image: linear-gradient(to right,rgba(255,255,255,.2) 0,rgba(255,255,255,.5) 50%,rgba(255,255,255,.2) 100%);/*linear-gradient渐变效果*/
            transform: skewX(-25deg);/*沿x轴倾斜*/
}
#banner_buttom_img>div>div{
	padding: 0 8px 8px 0;
	width: 328px;
	float: left;
}
#banner_buttom_img>div>div>a{
	display:block;
	width: 100%;
	height: 100%;
}
#banner_buttom_img>div>div>a>img{
	width: 100%;
}
	/*banner_button_img结束*/
/*banner结束*/
/*today-new开始*/ 
#today-new{
	width: 100%;
	height: auto;
	position: relative;
    padding: 15px 0 0;
    overflow: hidden;
}
#today-new>.container{
	margin: 0 auto 35px;
	position: relative;
}
#today-new>.container>.title{
	margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    height: 68px;
}
#today-new>.container>.title>img{
	position: absolute;
    left: 50%;
    margin-left: -585px;
    top: 0;
}
#today-new>.container>.index-zhuanshu-wrap{
	background-color: #fff;
    padding-bottom: 20px;
    height: 112px;
    width: 100%;
}
#today-new>.container>.index-zhuanshu-wrap>div{
	float:left;
	width: 320px;
	height: 112px;
}
#today-new>.container>.index-zhuanshu-wrap>div:nth-child(n+2){
	margin-left:20px;
}
#today-new>.container>.index-zhuanshu-wrap>div>a{
	display:block;
	width: 100%;
	height: 100%;
}
#today-new>.container>.index-zhuanshu-wrap>div>a>img{
	width: 100%;
}

#today-new>.container>.brand-wrap{
	width: 1020px;
	position:relative;
}
#today-new>.container>.brand-wrap>div{
	float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 490px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
}
#today-new>.container>.brand-wrap>div>.mask{
	position: absolute;
    bottom: 20px;
    width: 320px;
    height: 100px;
    left: 50%;
    margin-left: -160px;
    background:rgba(255,255,255,.9);
}
#today-new>.container>.brand-wrap>div>.mask>img{
	width: 100px;
    height: 50px;
    margin: 6px 0 3px;
}
.today-new-bigSize{
	font-size: 14px;
    color: #333;
    font-weight: 700;
    margin: 0 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.today-new-smallSize{
	font-size:12px;
	margin: 0 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height:1.2;
}
#today-new>.container>.brand-wrap>div>a{
	display:block;
	width: 100%;
	height: 100%;
}
#today-new>.container>.brand-wrap>div>a>img{
	width: 100%;
}
#today-new>.container>.brand-wrap>div:hover .hotSale-hover{
	visibility:visible; opacity:1;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover{
	width: 450px;
    height: 260px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    background-position: center 100px;
    border-radius: 4px;
    overflow: hidden;
    visibility:hidden; opacity:0;
   transition:all 0.3s linear;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>.hotSale-pro-list{
	margin-top: 14px;
    padding-left: 30px;
    height: 184px;
    border-bottom: 1px dotted #333;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>.hotSale-pro-list>a{
	float: left;
    margin-right: 16px;
    width: 121px;
    height: 83px;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>.hotSale-pro-list>a>img{
	width: 121px;
    height: 153px;
    vertical-align:top;
    opacity:1;
    filter(alpha=100);
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>.hotSale-pro-list>a>img:hover{
	opacity:0.8;
	filter(alpha=80);
}

#today-new>.container>.brand-wrap>div>.hotSale-hover>a:nth-of-type(1){
	display:block;
	float: left;
    margin-left: 29px;
    margin-right: 20px;
    margin-top:6px;
    width: 100px;
    height: 50px;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>a:nth-of-type(2){
	margin-top: 18px;
	text-decoration:none;
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 117px;
    height: 22px;
    border: 1px solid #333;
    color: #333;
    text-align: center;
    line-height: 22px;
    background: #fff;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>a:nth-of-type(2):hover{
	color:#fff;
	background:#333;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>span{
	display:block;
	float:left;
	font-size:12px;
	width: 71px;
	height: 22px;
    padding: 0 6px;
    margin-top:18px;
    margin-left:10px;
    background: #fff;
    border: 1px solid #ededed;
    line-height: 22px;
    border-radius: 12px;
    color: #666;
    cursor:pointer;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>span:hover{
	background:#f10783;
	color:#fff;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>span:hover i{
	color:#fff;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>span>i{
	font-size:13px;
	margin-right:3px;
	color:#f10783;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>a>img{
	width: 100%;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>.hotSale-pro-list>a{
	text-decoration:none;
}
#today-new>.container>.brand-wrap>div>.hotSale-hover>.hotSale-pro-list>a>p{
	line-height: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}
/*today-new结束*/ 
/*footer*/

.footer {
	width: 100%;
	height: 3rem;
	font-size: 0.2rem;
	margin-top: 100px;
}

footer {
	height: 3rem;
	font-size: 0.16rem;
}

footer a {
	display: block;
	text-decoration: none;
	font-size: 0.16rem;
	color: #888;
	transition: all 0.3s
}

footer>ul:first-child a:hover {
	color: deeppink;
	transform: translateX(0.03rem);
}

footer>ul:first-child {
	width: 100%;
	height: 70%;
}

footer>ul:first-child>li {
	box-sizing: border-box;
	margin-left: 1%;
	margin-top: 0.4rem;
	border-right: 1px solid #CCCCCC;
	display: block;
	float: left;
	height: 100%;
	width: 15%;
}

footer>ul:first-child>li:last-child {
	border-right: none;
}

footer>ul:first-child>li>span {
	display: block;
	margin-bottom: 0.1rem;
}

footer>ul:first-child>li>p {
	margin: 0;
}

footer>ul:first-child>li>ul>li {
	display: block;
	margin: 0.05rem 0;
}


.footer>.aboutus{
	background:deeppink ;
}
.footer>.aboutus>ul {
	width:800px;
	height: 0.3rem;
	background: deeppink;
	margin: 0 auto;
}

.footer>.aboutus>ul>li {
	display: inline;
}

.footer>.aboutus>ul>li>span {
	color: white;
}

.footer>.aboutus>ul>li>a {
	font-size: 0.14rem;
	text-decoration: none;
	color: white;
}

.dibu {
	text-align: center;
	font-size: 0.14rem;
}

.dibu>p {
	margin: 0.1rem 0;
}

