/**/
/*common*/
.container{
	height: 100%;
	width: 1000px;
	margin: 0 auto;
}
.clearfix{	
    display: block;
    clear: both;
    overflow: hidden;
}

/*header START*/
.header{
	height: 128px;

	/*background: pink;*/
}
.header .header_top{
	height: 28px;
	background: rgb(245,245,245);
	position: relative;
}
.header .header_top span{
	height: 28px;
	line-height: 28px;
	text-align: center;
	position: absolute;
	padding: 0 14px 0 17px;
	color: #555;
	font-size: 12px;
}
.header .header_top ul{
	right: 0;
	height: 100%;
}
.header .header_top ul li{
	height: 100%;
	line-height: 28px;
	float: right;
	text-align: center;
	padding: 0 20px 0 13px;
	position: relative;
	/*box-sizing: border-box;*/
	/*margin-right: 5px;*/
}
.header .header_top ul li::after{
	content: '';
	background: url(../img/header.png) no-repeat -134px 0;
	width: 16px;
	height: 16px;
	position: absolute;
	top:8px;
	right: 0px;
}
.header .header_top ul li:nth-child(2)::before{
	content: '';
	background: url(../img/header.png) no-repeat -100px -150px;
	width: 16px;
	height: 16px;
	position: absolute;
	top:8px;
	left: 0px;

}
.header .header_top ul li:first-child::after{
	content: '';
	background: url(../img/header.png) no-repeat -134px 0;
	width: 16px;
	height: 16px;
	position: absolute;
	top:8px;
	right: 0px;
	display: none;
}
.header .header_top ul li a{
	/*position: relative;*/
	color: #777;
	font-size: 12px;
}
/**************************************************************************/
.header .header_bottom{
	height: 100px;
	/*background: red;*/
	position: relative;
}
.header .header_bottom span{
	position: absolute;
	max-width: 495px;
	height: 100%;
	overflow: hidden;
}
.header .header_bottom span a{

}
.header .header_bottom span a img{
	margin-left: -30px;
	height: 100px;

}
.header .header_bottom ul{

	position: absolute;
	left: 500px;
}
.header .header_bottom ul li{
	float: left;
	height: 100px;
	position: relative;
}
.header .header_bottom ul li a{
	height: 100%;
	/*line-height: 100px;
	text-align: center;
	color: #333;
	font-size: 13px;*/
}
.header .header_bottom ul li a img{
	height: 100%;
}
.header .header_bottom .buycat{
	float: right;
	width: 120px;
	height: 100px;
	position: relative;
}
.header .header_bottom .buycat a{
	width: 100px;
	line-height: 100px;
	padding-left: 40px;
	color: #333;
	font-size: 13px;
	border-left: 1px solid rgb(221,221,221);
}
.header .header_bottom .buycat::before{
	content: '';
	position: absolute;
	width: 28px;
	height: 28px;
	background: url(../img/header.png) no-repeat 6px -57px;
	top: 35px;
	right: 80px;
}
/*header END*/

/*hrhr START*/
.hrhr{
	height: 40px;
	background: rgb(241,1,128);
}
.hrhr .tabs{
	height: 100%;
}
.hrhr .tabs ul{
	float: left;
	height: 100%;
}
.hrhr .tabs ul li,ol li{
	height: 100%;
	float: left;
}
.hrhr .tabs ul li a{
	display: block;
	text-align: center;
	line-height: 40px;
	height: 100%;
	color: #fff;
	padding: 0 14px;
	font-size: 16px;
}
.hrhr .tabs ol{
	float: right;
	height: 100%;
}
/*这个页面的第一个按钮默认样式*/
.hrhr .tabs li.indexact{
	background: rgb(189,16,103);
}
/*当鼠标移入时加入这个class*/
.hrhr .tabs li.active{
	background: rgb(219,10,118);
}
/*.hrhr .tabs ol li{
	height: 100%;
	float: left;
}*/

.hrhr .tabs ol li a{
	display: block;
	float: left;
	text-align: center;
	line-height: 40px;
	color: #fff;
	height: 40px;
	padding: 0 14px;
	font-size: 16px;
}

.hrhr .tabs ol li a img{
	display: block;
	float: left;
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 10px;
	line-height: 40px;
}

/*hrhr END*/

/*center START*/
.center{
	/*height: 1000px;*/
	/*background: yellow;*/
}
.center .lists{
	margin-top: 20px;
}
.center .lists .lists_T{
	height: 182px;
	/*background: pink;	*/
	/*border: 1px solid #dfdfdf;
	border-bottom: none;*/
}
.center .lists .lists_T .lists_T1{
	height: 26px;
	padding: 10px 10px 10px 20px;
	border: 1px solid #dfdfdf;
	border-bottom: none;
}
.center .lists .lists_T .lists_T1 ul{

}
.center .lists .lists_T .lists_T1 ul li{
	float: left;
	margin-right: 15px;
	line-height: 26px;
}
.center .lists .lists_T .lists_T1 ul li:last-child{
	margin-left: 20px;
	font-size: 13px;
}
.center .lists .lists_T .lists_T1 div{
	width: 125px;
	height: 22px;
	/*background: yellow;*/
	float: right;
	border-radius: 11px;
	border: 1px solid #999;
	/*overflow: hidden;*/
}
.center .lists .lists_T .lists_T1 div a{
	display: block;
	font-size: 13px;
	line-height: 22px;
	color: red;
} 
.center .lists .lists_T .lists_T1 div a span{
	color: #333;
}
.center .lists .lists_T .lists_T2{
	height: 66px;
	padding: 10px 10px 10px 20px;
	border: 1px solid #dfdfdf;
	border-bottom: 1px dashed #dfdfdf;
}
.center .lists .lists_T .lists_T2 div{
	width: 86px;
	height: 22px;
	float: left;
	color: #666;
}
.center .lists .lists_T .lists_T2 ul{
	width: 806px;
	padding-right: 30px;
	float: left;

}
.center .lists .lists_T .lists_T2 ul li{
	padding: 0 27px 12px 0;
	/*color: #666;*/
	float: left;
}
.center .lists .lists_T .lists_T2 ul li a{
	font-size: 13px;
	padding: 0 10px;
	color: #666;
}
.center .lists .lists_T .lists_T3{
	height: 36px;
	border: 1px solid #dfdfdf;
	border-top: none;
	padding: 10px 10px 0px 20px;
}
.center .lists .lists_T .lists_T3 div{
	width: 86px;
	height: 36px;
	float: left;
	color: #666;

}
.center .lists .lists_T .lists_T3 ul{
	width: 806px;
	/*padding: 13px 30px 1px 0;*/
	float: left;

}
.center .lists .lists_T .lists_T3 ul li{
	float: left;
	padding: 0 27px 12px 0;
}
.center .lists .lists_T .lists_T3 ul li a{
	font-size: 13px;
	color: #666;
	padding: 0 10px;
}
/*****************************************************************************8*/
.center .lists .lists_B{
	margin-top: 20px;
	height: 48px;
	background: rgb(245,245,245);
	border: 1px solid #dfdfdf;
	border-left: none;
}
.center .lists .lists_B ul{
	float: left;
	height: 48px;
}
.center .lists .lists_B ul li{
	/*width: 67px;*/
	height: 48px;
	text-align: center;
	line-height: 48px;
	float: left;
	border-left: 1px solid #dfdfdf;
}
.center .lists .lists_B ul li a{
	display: block;
	height: 100%;
	padding: 0 25px;
	font-size: 13px;
	
}
.center .lists .lists_B ul li:last-child{
	padding: 0 10px ;
	cursor:pointer;
}
.center .lists .lists_B ul li:last-child input{
	margin: 17px 0;
	float: left;
}
.center .lists .lists_B ul li:last-child a{
	float: left;
}
.center .lists .lists_B ol{
	float: right;
	height: 48px;
}
.center .lists .lists_B ol li{
	margin-right: 20px;
	height: 48px;
	text-align: center;
	line-height: 48px;
}
/*****************************************************************/
.center .goods{
	margin-top: 10px;
	width: 100%;
	
}
.center .goods ul{
	
	width: 100%;
}
.center .goods ul li{
	width: 255px;
	float: left;
	max-height: 370px;
	overflow: hidden;

}
.center .goods ul li:nth-child(4n){
	width: 235px;
}
.center .goods ul li .foodspic{
	position: relative;
	margin:0 20px 20px 0;
	cursor: pointer;
}
.center .goods ul li:nth-child(4n) .foodspic{
	margin:0 0px 20px 0;
	/*background: yellow;*/
}

.center .goods ul li .foodspic img:first-child{
	display: block;
	width: 45px;
	height: 45px;
	position: absolute;
	
}
.center .goods ul li .foodspic img:lasts-child{

	
	display: block;
}
.center .goods ul li .foodspic div:first-child{
	
	
}
.center .goods ul li .foodspic div span:nth-child(1){
	color: red;
}
.center .goods ul li .foodspic div span:nth-child(2){
	margin-left: 10px;
	font-size: 10px;
	text-decoration: line-through ;
	color: #333;
}
.center .goods ul li .foodspic div span:nth-child(3){
	float: right;
    color: #f1b13b;
    font-size: 10px;
    border: 1px solid #f1b13b;
    box-sizing: border-box;
    border-radius: 2px;
}
.center .goods ul li .foodspic div:last-child{


}
.center .goods ul li .foodspic div:last-child a{
	font-size: 12px;
	color: #666;
	/*text-align: center;*/
	padding: 0 5px;
}
/*center END*

/*footer START*/
.footer{
	height: 500px;
	background: rgb(252,252,252);
	margin-top: 10px;

}
.ulwidth{
	width: 90%;
	margin: 0 auto;
	/*height: 100%;
	background: yellow;*/
}
.footer .footer_ul1{
	height: 100px;
	/*background: pink;*/
	margin-top: 25px;
}
.footer .footer_ul1 ul{
	
} 
.footer .footer_ul1 ul li{
	float: left;
	width: 58px;
	height: 75px;
	margin-right: 35px;
}
.footer .footer_ul1 ul li:nth-child(1){

	background: url(../img/footer/footerbg.png) no-repeat 0 0;
}
.footer .footer_ul1 ul li:nth-child(2){
	
	background: url(../img/footer/footerbg.png) no-repeat -80px 0;
}
.footer .footer_ul1 ul li:nth-child(3){

	background: url(../img/footer/footerbg.png) no-repeat -160px 0;
}
.footer .footer_ul1 ul li:nth-child(4){
	
	background: url(../img/footer/footerbg.png) no-repeat -240px 0;
}
.footer .footer_ul1 ul li:nth-child(5){
	
	background: url(../img/footer/footerbg.png) no-repeat -320px 0;
}
.footer .footer_ul1 ul li:nth-child(6){
	
	background: url(../img/footer/footerbg.png) no-repeat -400px 0;
}
.footer .footer_ul1 ul li:nth-child(7){

	background: url(../img/footer/footerbg.png) no-repeat -480px 0;
}
.footer .footer_ul1 ul li:nth-child(8){
	
	background: url(../img/footer/footerbg.png) no-repeat -560px 0;
}
.footer .footer_ul1 ul li:nth-child(9){

	background: url(../img/footer/footerbg.png) no-repeat -640px 0;
}
.footer .footer_ul1 ul li:nth-child(10){
	
	background: url(../img/footer/footerbg.png) no-repeat -720px 0;
	margin-right: 0;
}
/**********************************************************************/
.footer .footer_ul2{
	height: 150px;
	/*background: pink;*/
	margin: 37px 0 25px;
}
.footer .footer_ul2 ul{

} 
.footer .footer_ul2 ul li.ul2_last{
	width: 136px;
	height: 146px;
	border-right:none;
	padding-left:0;
}
.footer .footer_ul2 ul li{
	float: left;
	width:-webkit-calc( (100% - 136px ) / 5 );
	/*使用calc在两个因子同运算符号之间必须存在空格*/
	height: 146px;
	padding-left: 16px;
	box-sizing: border-box;
	border-right: 1px solid #e0e0e0;

}
.footer .footer_ul2 ul li dl{
	
}
.footer .footer_ul2 ul li dl dt{
	color: #4d4d4d;
	margin-bottom: 4px;
}
.footer .footer_ul2 ul li dl dd{
	/*height: 20px;*/
	font-size: 13px;
	color: #4d4d4d;
	background: url(../img/footer/footer.png) no-repeat -6px -494px;
	padding-left: 8px;

}
.footer .footer_ul2 ul li.ul2_last dt{
	text-align: center;
}
.footer .footer_ul2 ul li.ul2_last dd{
	text-align: center;
	/*height: 100px;*/
	background: none;
	margin-bottom: 4px;

}
.footer .footer_ul2 ul li.ul2_last dd:last-child{
	margin-bottom:0;
}
.footer .footer_ul2 ul li.ul2_last dd img{
	display: block;
	height: 100px;
	margin: 0 auto;
	
}
.footer .footer_ul2 ul li:nth-child(1){
	
}

/**********************************************************************/
.footer .footer_ul3{
	/*height: 500px;*/

}
.footer .footer_ul3 ul{
	display: flex;
	justify-content: center ;
	background: rgb(215,35,126);
}
.footer .footer_ul3 ul li{
	padding: 4px 0px;
}
.footer .footer_ul3 ul li a{
	color: #fff;
	padding: 0 5px;
	font-size: 13px;
	border-right: 1px solid #fff;
}
.footer .footer_ul3 ul li:last-child a{
	border-right:none;
}
.footer .footer_ul3 p{
	text-align: center;
	font-size: 12px;
	color: grey;
}
/**********************************************************************/
.footer .footer_ul4{
	
}
/**********************************************************************/
/*footer END*/



/*右边栏*/
.right{
	position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
    width: 36px;
    height: 100%;
    
}
.right .rightNav{
	position: relative;
	z-index: 101;
	height: 100%;
	background-color: #262626;
}
.right .rightNav .navTop{
	margin-top: -250px;
	width: 100%;
	height: 400px;
	position: absolute;
	top: 50%;
	right: 0;
}
.right .rightNav .navTop ul{
	list-style: none;
}
.right .rightNav .navTop ul li{
	text-align: center;
	color: #fff;
	cursor: pointer;
	margin: 2px auto;
}
/*将右边栏所有li的伪类标签before隐藏*/
.right .rightNav .navTop ul li:before{
	opacity: 0;
	transition:0.6s;
	transform-origin: center left;
	transform:translateX(0px) scale(0);
}
/*给侧边栏li加了个动画*/
 .right .rightNav .navTop ul li:hover::before{
 	opacity: 1;
	transform:translateX(-110px) scale(1);
 }
.right .rightNav .navTop ul li:nth-child(1){
	height: 42px;
	background: url(../img/right.png) no-repeat 0 -128px;
	position: relative;
}
/*取消第一个li账号的before伪元素，用div*/
.right .rightNav .navTop ul li:nth-child(1):before{
	display: none;
}
.right .rightNav .navTop ul li:nth-child(1)>div{
	position: absolute;
    width: 274px;
    background: #fff;
    left: -274px;
    top: 0;
    box-sizing: border-box;
    border: 1px solid #eee;
    cursor: default;
    
	display: none;
	
}
.right .rightNav .navTop ul li:nth-child(1):hover div{
	display: block;
	
}
/*出来的div设置个before用来关闭X*/
.right .rightNav .navTop ul li:nth-child(1)>div::before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 14px;
	right: 14px;  
    cursor: pointer;
    background: url(../img/right.png) no-repeat -193px -170px;
}
/*出来的div后里面的内容,第一块内容*/
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(1){
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(1) img{
	padding: 30px;
	cursor: pointer;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(1) p{
	margin: 0;
	padding-bottom: 20px;
	font-size: 13px;
	color: #000;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(1) p a{
	font-size: 13px;
	padding: 0 2px;
	color: red;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(1) p a:first-child{
	border-right: 1px solid #000;
}
/*出来的div后里面的内容,第二块内容*/
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2){
	/*position: relative;*/
	height: 104px;
	padding: 14px 0;
	box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f8f8f8;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(1){
	float: left;
	width: 49%;
	height: 66px;
	padding-top: 10px;
	border-right: 1px solid #eee;
	margin: 0;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(1) a{
	margin: 0 auto;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background:url(../img/right.png) no-repeat -200px -90px;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(1) span{
	color: #000;
	font-size: 13px;
}
/*当hover状态时改变*/
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(1):hover a{
	background:url(../img/right.png) no-repeat -200px 0px;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(1):hover span{
	color: rgb(247,142,197);
	cursor: pointer;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(2){
	float: left;
	width: 49%;
	height: 66px;
	padding-top: 10px;
	
	margin: 0;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(2) a{
	margin: 0 auto;
	display: block;
	width: 30px;
	height: 30px;
	background:url(../img/right.png) no-repeat -200px -56px;

}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(2) span{
	color: #000;
	font-size: 13px;
}
/*当hover状态时改变*/
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(2):hover a{
	background:url(../img/right.png) no-repeat -200px -27px;
}
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(2) p:nth-child(2):hover span{
	color: rgb(247,142,197);
	cursor: pointer;
}
/*出来的div后里面的内容,第三块内容*/
.right .rightNav .navTop ul li:nth-child(1)>div div:nth-child(3){
	padding: 10px;
	float: right;
	color: rgb(32,160,205);
	font-size: 13px;
	background: #fff;
	cursor: pointer;
}


.right .rightNav .navTop ul li:nth-child(1):hover{
	background: url(../img/right.png) no-repeat -40px 0px;
}

.right .rightNav .navTop ul li:nth-child(2){
	height: 151px;
	background: rgb(223,20,127);
	position: relative;
}
.right .rightNav .navTop ul li:nth-child(2) p{
	height: 52px;
	margin: 0;
	background: url(../img/right.png) no-repeat -80px -120px;
}
.right .rightNav .navTop ul li:nth-child(2) div{
	height: 54px;
	margin: 0 auto;
    width: 14px;
    line-height: 18px;
    font-size: 14px;

}
.right .rightNav .navTop ul li:nth-child(2) h3{
	height: 40px;
	margin: 0;
	background: url(../img/right.png) no-repeat -15px -190px;
	position: relative;
}
.right .rightNav .navTop ul li:nth-child(2) h3:after{
	content: '2';
	position: absolute;
	width: 15px;
	height: 15px;
	left: 12px;
	top: 12px;
	font-size: 10px;
	border-radius: 50%;
	color: rgb(223,20,127);
}
.right .rightNav .navTop ul li:nth-child(3){
	height: 36px;
	background: url(../img/right.png) no-repeat -160px -45px;
	position: relative;
}
.right .rightNav .navTop ul li:nth-child(3):before{
	content: '我的优惠券';
	color: #000;
	text-align: center;
	line-height: 36px;
	font-size: 13px;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0;
	height: 36px;
	border: 1px solid #eee;
	border-radius: 3px;
	width: 110px;
	background: #fff;
	margin: 2px auto;
}
.right .rightNav .navTop ul li:nth-child(3):hover{
	background: url(../img/right.png) no-repeat -40px -130px;
}
.right .rightNav .navTop ul li:nth-child(4){
	height: 36px;
	background: url(../img/right.png) no-repeat -80px 0px;
	position: relative;
}
.right .rightNav .navTop ul li:nth-child(4):before{
	content: '品牌收藏';
	color: #000;
	line-height: 36px;
	font-size: 13px;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0;
	height: 36px;
	border: 1px solid #eee;
	border-radius: 3px;
	width: 110px;
	background: #fff;
	margin: 2px auto;
}
.right .rightNav .navTop ul li:nth-child(4):hover{
	background: url(../img/right.png) no-repeat -40px -45px;
}
.right .rightNav .navTop ul li:nth-child(5){
	height: 36px;
	background: url(../img/right.png) no-repeat -120px 0px;
	position: relative;
}
.right .rightNav .navTop ul li:nth-child(5):before{
	content: '商品收藏';
	color: #000;
	line-height: 36px;
	font-size: 13px;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0;
	height: 36px;
	border: 1px solid #eee;
	border-radius: 3px;
	width: 110px;
	background: #fff;
	margin: 2px auto;
}
.right .rightNav .navTop ul li:nth-child(5):hover{
	background: url(../img/right.png) no-repeat -80px -45px;
}
.right .rightNav .navTop ul li:nth-child(6){
	height: 36px;
	background: url(../img/right.png) no-repeat -160px 0px;
	position: relative;
}
.right .rightNav .navTop ul li:nth-child(6):before{
	content: '我的足迹';
	color: #000;
	line-height: 36px;
	font-size: 13px;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0;
	height: 36px;
	border: 1px solid #eee;
	border-radius: 3px;
	width: 110px;
	background: #fff;
	margin: 2px auto;
}
.right .rightNav .navTop ul li:nth-child(6):hover{
	background: url(../img/right.png) no-repeat -120px -45px;
}
.right .rightNav .navBottom{
	position: absolute;
	bottom: 0;
	right: 0;
	
}
.right .rightNav .navBottom div{
	width: 36px;
	height: 36px;
	/*background-color: yellow;*/
	margin: 1px auto;
	cursor:pointer;

}
.right .rightNav .navBottom div:nth-child(1){
	background: url(../img/right.png) no-repeat -120px -90px;
	position: relative;
}
/*将右边栏的伪类标签before隐藏*/
.right .rightNav .navBottom div:before{
	opacity: 0;
	transition:0.6s;
	transform-origin: center left;
	transform:translateX(0px) scale(0);
}
/*给hover加了个动画*/
.right .rightNav .navBottom div:hover::before{
	opacity: 1;
	transform:translateX(-110px) scale(1);
}
.right .rightNav .navBottom div:nth-child(1):before{
	content: '会员反馈';
	color: #000;
	line-height: 36px;
	font-size: 13px;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	height: 36px;
	border: 1px solid #eee;
	border-radius: 3px;
	width: 110px;
	background: #fff;
	/*margin: 1px auto;*/
}
.right .rightNav .navBottom div:nth-child(1):hover{
	background: url(../img/right.png) no-repeat -160px -90px;
}

.right .rightNav .navBottom div:nth-child(2){
	background: url(../img/right.png) no-repeat -80px -90px;
	position: relative;
}
.right .rightNav .navBottom div:nth-child(2):before{
	content: '返回顶部';
	color: #000;
	text-align: center;
	line-height: 36px;
	font-size: 13px;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0;
	height: 36px;
	border: 1px solid #eee;
	border-radius: 3px;
	width: 110px;
	background: #fff;
	margin: 1px auto;
}
.right .rightNav .navBottom div:nth-child(2):hover{
	background: url(../img/right.png) no-repeat -120px -130px;
}
