html,
body,
ul {
	margin: 0;
	padding: 0;
}

html {
	font-size: 80px;
}

li {
	list-style: none;
}

.content {
	width: 80%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}


/*toper*/

.top {
	height: 0.3rem;
	width: 100%;
	background: #eee;
}

.toper>div {
	height: 100%;
	font-size: 0.1rem;
	line-height: 0.3rem;
	text-align: center;
	color: #666666;
	cursor: pointer;
	float: left;
	box-sizing: border-box;
}

.toper>div>a {
	display: block;
	width: 80%;
	float: left;
	font-size: 0.1rem;
	line-height: 0.3rem;
	text-align: center;
	color: #666;
}

.toper>div>a:hover {
	color: deeppink;
}

.toper>div:hover>i {
	color: deeppink;
	transform: rotate(180deg) translateY(-0.03rem) translateX(-0.1rem);
}

.toper>.dizhi {
	height: 100%;
	width: 8%;
	text-align: center;
	margin-left: 1%;
}

.toper>.dizhi:hover,
.toper>:nth-child(2):hover,
.toper>:nth-child(5):hover,
.toper>:nth-child(6):hover,
.toper>:nth-child(7):hover,
.toper>:nth-child(8):hover,
.toper>:nth-child(9):hover {
	background: white;
	color: deeppink;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.toper>.dizhi>span,
.toper>:nth-child(5)>span,
.toper>:nth-child(6)>span,
.toper>:nth-child(7)>span,
.toper>:nth-child(9)>span {
	display: block;
	height: 100%;
	width: 80%;
	float: left;
}

.toper>.dizhi>i,
.toper>:nth-child(2)>i,
.toper>:nth-child(5)>i,
.toper>:nth-child(6)>i,
.toper>:nth-child(7)>i,
.toper>:nth-child(9)>i {
	display: block;
	height: 100%;
	width: 10%;
	transition: all 0.2s;
	float: left;
}

.toper>div:nth-child(2) {
	height: 100%;
	width: 10%;
	margin-left: 22%
}

.toper>div:nth-child(3) {
	width: 5%;
}

.toper>div:nth-child(4) {
	width: 8%;
}

.toper>div:nth-child(5) {
	width: 8%;
}

.toper>div:nth-child(6) {
	width: 10%;
}

.toper>div:nth-child(7) {
	width: 10%;
}

.toper>div:nth-child(8) {
	width: 10%;
}

.toper>div:nth-child(9) {
	width: 5%;
}


/*nav*/

.content_nav {
	width: 100%;
	height: 0.4rem;
	background: #f10180;
	color: white;
	font-weight: 900;
	font-size: 0.2rem;
	line-height: 0.4rem;
}

.content_nav>nav>ul {
	width: 56%;
	float: left;
}

.content_nav>nav>ul>li {
	float: left;
	padding: 0 0.15rem;
	box-sizing: border-box;
}

.content_nav>nav>ul>li:hover {
	background: #bd1067;
}

.content_nav>nav>ul>li>a {
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 900;
}

.content_nav>nav>span {
	display: block;
	width: 5%;
	float: left;
	cursor: pointer;
	position: relative;
}

.content_nav>nav>span>i {
	display: block;
	height: 100%;
	width: 10%;
	position: absolute;
	left: 0.4rem;
	top: 0;
	transition: all 0.2s;
	float: left;
}

.content_nav>nav>span:hover>i.icon-xiaosanjiaoxiangxia {
	transform: rotate(180deg) translateY(-0.06rem) translateX(-0.1rem);
}

.content_nav>nav>div:last-child {
	margin-left: 17%;
	float: left;
	height: 100%;
	width: 21%;
}

.content_nav>nav>div:last-child>div {
	float: left;
	cursor: pointer;
}

.content_nav>nav>div:last-child>span {
	float: left;
	margin: 0 0.2rem;
	color: #888;
	font-size: 0.12rem;
}

.content_nav>nav>div:last-child>div>i {
	display: block;
	float: left;
	margin-right: 0.2rem;
}

.content_nav>nav>div:last-child>div>span {
	display: block;
	float: left;
}


/*header*/

.header {
	width: 100%;
	height: 1.4rem;
	background: ghostwhite;
}

header {
	height: 100%;
}

header>a {
	display: block;
	text-decoration: none;
	color: black;
	height: 100%;
	float: left;
}

header>a>img {
	display: block;
	height: 90%;
	width: 100%;
}

header>a:first-child {
	width: 22%;
}

header>a:nth-child(2),
header>a:nth-child(3),
header>a:nth-child(4) {
	width: 12%;
}

header>a:nth-child(2) {
	margin-left: 24%;
}

header>a:nth-child(5) {
	width: 18%;
	height: 60%;
	box-sizing: border-box;
	margin-top: 2%;
	font-size: 0.2rem;
}

header>a:nth-child(5):hover {
	background: ghostwhite;
	box-shadow: 0px 0px 1px #000000;
	border-bottom: none;
}

header>a:nth-child(5):hover>span:first-child {
	opacity: 0;
}

header>a:nth-child(5)>span:first-child {
	color: #888888;
}

header>a:nth-child(5)>span {
	display: block;
	height: 100%;
	line-height: 0.8rem;
	float: left;
}

header>a:nth-child(5)>i {
	display: block;
	height: 100%;
	margin-left: 0.3rem;
	line-height: 0.8rem;
	float: left;
	position: relative;
}

header>a:nth-child(5)>i>#gouwudaishop_num {
	display: block;
	width: 0.2rem;
	height: 0.2rem;
	font-size: 0.1rem;
	line-height: 0.2rem;
	text-align: center;
	background: deeppink;
	color: white;
	border-radius: 50%;
	position: absolute;
	top: 30%;
	left: 50%;
}

header>a:nth-child(5)>span:last-child {
	margin-left: 0.2rem;
}


/*section*/

section.content {
	overflow: hidden;
}

section>div.gouwudai_null:nth-child(1) {
	height: 4rem;
	width: 100%;
	padding-top: 40px;
	padding-left: 380px;
	box-sizing: border-box;
	overflow: hidden;
}

section.content>div.gouwudai_null>span {
	display: block;
	float: left;
	margin-right: 50px;
	width: 111px;
	height: 149px;
	background: url(../img/sprites-hash-83c131c3.png);
	background-position: -164px 0;
}

section.content>div.gouwudai_null>div {
	margin-top: 30px;
}

section.content>div.gouwudai_null>div>span {
	display: block;
	font-size: 0.3rem;
	margin-right: 30px;
	height: 0.36rem;
	line-height: 0.36rem;
}

section.content>div.gouwudai_null>div>div {
	margin-top: 10px;
	height: 0.4rem;
}

section.content>div.gouwudai_null>div>div>a {
	display: block;
	float: left;
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	height: 0.4rem;
	width: 1rem;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.4rem;
}

section.content>div.gouwudai_null>div>div>a:first-child {
	color: #FFFFFF;
	background-color: #f10180;
	border: 1px solid #f10180;
}

section.content>div.gouwudai_null>div>div>a:last-child {
	margin-left: 20px;
	color: #333;
	background-color: #fafafa;
	border: 1px solid #c2c2c2;
}

section.content>section.gouwuche_lear {
	margin-top: 40px;
}

section.content>section.gouwuche_lear>span {
	display: block;
	float: left;
	width: 1.7rem;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.4rem;
	text-align: left;
	border-right: 1px solid #AAAAAA;
}

section.content>section.gouwuche_lear>.gouwuche_txt01 {
	display: block;
	float: left;
	font-size: 0.2rem;
	line-height: 0.4rem;
	margin: 0px 20px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist {
	width: 100%;
	padding-top: 20px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>header {
	width: 100%;
	height: 40px;
	line-height: 0.5rem;
	background-color: #f9f9f9;
	border: 1px solid #AAAAAA;
	box-sizing: border-box;
	border-left: 2px solid #f10180;
	margin-top: 40px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul {
	/*height: 40px;*/
	/*height:155px ;*/
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>header>span {
	color: #000000;
	display: block;
	float: left;
	font-size: 0.1rem;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>header>span:nth-child(1) {
	display: block;
	float: left;
	margin-left: 20px;
	color: #f10180;
	font-size: 0.3rem;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>header>span:nth-child(2) {
	margin-left: 25%;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>header>span:nth-child(3) {
	margin-left: 15%;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>header>span:nth-child(4) {
	margin-left: 15%;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>header>span:nth-child(5) {
	margin-left: 15%;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li {
	width: 100%;
	height: 150px;
	font-size: 0.2rem;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span {
	display: block;
	float: left;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span>img {
	display: block;
	float: left;
	width: 58px;
	height: 74px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(1) {
	width: 33%;
	height: 90px;
	margin-top: 20px;
	margin-left: 15px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span>p {
	font-size: 0.14rem;
	margin: 10px;
	width: 190px;
	float: left;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span>p:nth-child(2) {
	margin-bottom: 0px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span>p:nth-child(3) {
	margin-top: 0px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(2) {
	margin-top: 38px;
	width: 10%;
	text-align: center;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(2)>span {
	display: block;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(2)>span:last-child {
	text-decoration: line-through;
	color: #AAAAAA;
	font-size: 0.15rem;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(3) {
	width: 75px;
	height: 23px;
	border: 1px solid #AAAAAA;
	margin-top: 38px;
	margin-left: 9%;
	background: ghostwhite;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(3)>span {
	display: block;
	float: left;
	width: 29px;
	height: 23px;
	text-align: center;
	line-height: 23px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(3)>input {
	display: block;
	float: left;
	height: 23px;
	width: 23px;
	background: ghostwhite;
	border: 1px solid #e3e2e2;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(4) {
	width: 66px;
	font-size: 0.3rem;
	color: #f10180;
	margin-top: 34px;
	margin-left: 7%;
	text-align: center;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>ul>li>span:nth-child(5) {
	margin-top: 38px;
	margin-left: 13%;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>footer {
	width: 100%;
	box-sizing: border-box;
	height: 80px;
	border: 1px solid #e3e2e2;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>footer>div>span {
	display: block;
	width: 34px;
	height: 20px;
	background: #999;
	border-radius: 2px;
	color: #fff;
	float: left;
	text-align: center;
}

#gouwuche_shop_chazhi {
	color: #f10180;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>footer>div {
	margin: 10px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>footer>div>p {
	margin: 0 40px;
	width: 300px;
	line-height: 20px;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>footer>div:nth-child(2)>p {
	margin: 0 8px;
	float: left;
}

section.content>section.gouwuche_lear>section.gouwuche_shoplist>footer>div>a {
	float: left;
	width: 60px;
	color: blue;
}


/*jiesuan*/

.gouwuche_jiesuan {
	border: 1px solid #ecebeb;
	box-sizing: border-box;
	margin-top: 10px;
}

.gouwuche_jiesuan>div {
	height: 112px;
}

.gouwuche_jiesuan>footer {
	height: 52px;
	border: 1px solid #e2e1e1;
	background: #f3f3f3;
	font-size: 0.2rem;
}

.gouwuche_jiesuan>div>div {
	height: 100%;
	float: left;
}

.gouwuche_jiesuan>div>div:first-child {
	margin-left: 20px;
	width: 125px;
}

.gouwuche_jiesuan>div>div>span {
	display: block;
	font-size: 0.2rem;
	color: #f10180;
	width: 125px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #f10180;
	border-radius: 3px;
	background-color: #fff;
	cursor: pointer;
}

.gouwuche_jiesuan>div>div>span:hover {
	background: #fdf4f7;
}

.gouwuche_jiesuan>div>div>span:first-child {
	margin-top: 20px;
}

.gouwuche_jiesuan>div>div>span:last-child {
	margin-top: 10px;
}

#gouwuche_shop_jiesuan {
	width: 330px;
	margin-left: 40%;
}

#gouwuche_shop_jiesuan>div {
	font-size: 0.2rem;
}

#gouwuche_shop_jiesuan>div>p {
	display: block;
	float: left;
	width: 250px;
}

#gouwuche_shop_jiesuan>div span {
	color: #f10180;
}

#gouwuche_shop_jiesuan>div>span {
	margin: 16px 0;
	display: block;
	float: left;
}

#gouwuche_shop_jiesuan>div:first-child>span {
	color: black;
}

#gouwuche_shop_jiesuan>div:last-child>span {
	font-size: 0.25rem;
	margin-top: 14px;
}

.gouwuche_jiesuan>footer>span {
	margin-left: 2%;
	display: block;
	float: left;
	width: 232px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 50px;
}

.gouwuche_jiesuan>footer>a {
	/*margin-left: 641px;*/
	margin-left:49.5% ;
	display: block;
	float: left;
	width: 20%;
	font-size: 15px;
	text-align: center;
	height: 100%;
	line-height: 50px;
	box-sizing: border-box;
	background: #f10180;
	border: 1px solid #f10180;
	color: #fff;
}


/*baozheng*/

.gouwuche_baozheng {
	height: 141px;
	margin: 80px auto;
}

.gouwuche_baozheng>div {
	width: 27%;
	height: 141px;
	float: left;
	background: url(../img/sprites-hash-a80f872a.png);
}

.gouwuche_baozheng>div:nth-child(1) {
	margin-left: 30px;
	background-position: 0 -145px;
}

.gouwuche_baozheng>div:nth-child(2) {
	margin-left: 60px;
	background-position: 0 0;
}

.gouwuche_baozheng>div:nth-child(3) {
	margin-left: 60px;
	background-position: -306px 0;
}


/*footer*/

.footer {
	width: 100%;
	height: 3rem;
	font-size: 0.2rem;
	margin-top: 100px;
}

footer {
	height: 3rem;
	font-size: 0.16rem;
}

footer a {
	display: block;
	text-decoration: none;
	font-size: 0.16rem;
	color: #888;
	transition: all 0.3s
}

footer>ul:first-child a:hover {
	color: deeppink;
	transform: translateX(0.03rem);
}

footer>ul:first-child {
	width: 100%;
	height: 70%;
}

footer>ul:first-child>li {
	box-sizing: border-box;
	margin-left: 1%;
	margin-top: 0.4rem;
	border-right: 1px solid #CCCCCC;
	display: block;
	float: left;
	height: 100%;
	width: 15%;
}

footer>ul:first-child>li:last-child {
	border-right: none;
}

footer>ul:first-child>li>span {
	display: block;
	margin-bottom: 0.1rem;
}

footer>ul:first-child>li>p {
	margin: 0;
}

footer>ul:first-child>li>ul>li {
	display: block;
	margin: 0.05rem 0;
}


.footer>.aboutus{
	background:deeppink ;
}
.footer>.aboutus>ul {
	width:800px;
	height: 0.3rem;
	background: deeppink;
	margin: 0 auto;
}

.footer>.aboutus>ul>li {
	display: inline;
}

.footer>.aboutus>ul>li>span {
	color: white;
}

.footer>.aboutus>ul>li>a {
	font-size: 0.14rem;
	text-decoration: none;
	color: white;
}

.dibu {
	text-align: center;
	font-size: 0.14rem;
}

.dibu>p {
	margin: 0.1rem 0;
}


/*购买*/

.gouwuche_tianjia {
	font-size: 0.18rem;
	margin-top:20px;
	margin-bottom:20px;
}

.gouwuche_tianjia span {
	display: block;
}

.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_newmessage>span:first-child {
	clear: right;
}

.gouwuche_tianjia>.gouwuche_newshangpin {
	width: 25%;
	float: left;
	text-align: center;
	border: 1px solid gold;
	box-sizing: border-box;
}

.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_newmessage>span:nth-child(3),
.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_newmessage>span:nth-child(4),
.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_newmessage>span:nth-child(5) {
	display: none;
}
.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_newmessage>span:nth-child(2)>span{
	color: #BD1067;
	font-size: 0.3rem;
}
.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_newmessage>span:nth-child(2)>span:last-child {
	text-decoration: line-through;
	color: #AAAAAA;
	font-size: 0.15rem;
}

.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_newmessage>span:first-child>img{
	width: 120px;
	height: 160px;
}
.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_newmessage>span:first-child>p{
	margin:3px 0;
}
.gouwuche_tianjia>.gouwuche_newshangpin>.gouwuche_gouami {
	height: 0.4rem;
	font-size: 0.3rem;
	line-height: 0.4rem;
	color: ghostwhite;
	margin-left: 10%;
	display: block;
	width: 80%;
	border: none;
	background: #FF1493;
	margin-bottom: 5px;
}