html{
	font-size: 100px;
}
body{
	font-size: 16px;
	background-color: rgba(238,238,238,1);
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.common{
	max-width: 600px;
	margin:0 auto;
	background-color: white;
}
.clear::after{
	content: "";
	display: block;
	height: 0;
	width: 0;
	clear:both;
}
header{
	width: 100%;
	height: 0.74rem;
	background: url(../images/title_logo.jpg) no-repeat;
	background-size: 10% 100%;
	background-color:rgba(254,84,0,1);
	overflow: hidden;
	position: fixed;
}
header>div{
	height: 0.5rem;
	width:87%;
	margin-top: 0.12rem;
	margin-left: 10%;
	background-color:#b52600; 
	border-radius: 0.05rem;
}
header>div>p{
	margin:0 auto;
	text-align: center;
	color: #fff;
	line-height: 0.5rem;
	font-size: 0.26rem;
	/*width: 1.96rem;*/
	height: 0.5rem;

}
header>div>p>svg.icon{
	font-size: 0.35rem;
	vertical-align: -0.23em;
}
.banner{
	width: 100%;
	height: auto;
}
section.banner>img{
	width: 100%;
	margin-top: 0.74rem;
}


nav{
	width: 100%;
}

nav>ul{
	width: 100%;
}
nav>ul>li{
	width: 18%;
	margin:2% 1%;
	float: left;
}
nav>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
nav>ul>li>a>img{
	width: 100%;
}
nav>ul>li>a>p{
	text-align:center;
}
nav>article{
	width: 100%;
}
nav>article>div{float: left;}
nav>article>.left{
	width: 24%;
	padding: 2%;
	box-sizing: border-box;
	border-right: 1px solid rgba(0,0,0,.2);
}
nav>article>.left>img{width: 100%;}
nav>article>.right{
	width: 76%;
	height: 100%;
}
nav>article>.right>.logo{
	width: 15%;
	height:0.3rem;
	text-align: center;
	border-radius: 0.07rem;
	line-height: 0.3rem;
	margin: 0.1rem;
	margin-left: 0.2rem;
	float: left;
	border: 1px solid red;
	color: red;
}
nav>article>.right>p{
	float: left;
	width: 75%;
	height: 0.3rem;
	line-height: 0.3rem;
	margin: 0.1rem;
	margin-left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: wrap;
}

section.taoqiangou{
	margin:0.1rem auto;
}
section.taoqiangou>.left{
	width: 40%;
	float: left;border-right: 1px solid rgba(0,0,0,.2);box-sizing: border-box;
}
section.taoqiangou>.left>img{
	width: 100%;
}
section.taoqiangou>.right{
	float: left;
	width: 60%;
}
section.taoqiangou>.right>.top{
	width: 100%;border-bottom: 1px solid rgba(0,0,0,.2);box-sizing: border-box;
}
section.taoqiangou>.right>.top>img{
	width: 50%;
	float: left;
}
section.taoqiangou>.right>.bottom{
	width: 100%;
}
section.taoqiangou>.right>.bottom>.left{width: 50%;float: left;}
section.taoqiangou>.right>.bottom>.left>img{width: 100%;}
section.taoqiangou>.right>.bottom>.right{width: 50%;float: left;border-left: 1px solid rgba(0,0,0,.2);box-sizing: border-box;}
section.taoqiangou>.right>.bottom>.right>img{width: 100%;}

section.chaoshihui{
	margin-bottom: 1.35rem;
}
	
}
section.chaoshihui>article:nth-child(1){
	width: 100%;
}
section.chaoshihui>article:nth-child(1)>div:nth-child(1){float: left;width: 48%;}
section.chaoshihui>article:nth-child(1)>div:nth-child(1)>img{width: 10%;float:right;margin:0.1rem;}
section.chaoshihui>article:nth-child(1)>div:nth-child(2){float: left;width: 52%;margin-top: 0.1rem;color: red;font-size: 0.2rem;}
section.chaoshihui>article:nth-child(2)>div{box-sizing: border-box;border: 1px solid rgba(0,0,0,.2);}
section.chaoshihui>article:nth-child(3)>div{box-sizing: border-box;border: 1px solid rgba(0,0,0,.2);}
section.chaoshihui>article:nth-child(2){
	display: flex;
	width: 100%;
}
section.chaoshihui>article:nth-child(2)>div:nth-child(1){flex:2;}
section.chaoshihui>article:nth-child(2)>div:nth-child(1)>img{width: 100%;}
section.chaoshihui>article:nth-child(2)>div:nth-child(2){flex:1;}
section.chaoshihui>article:nth-child(2)>div:nth-child(2)>img{width: 100%;}
section.chaoshihui>article:nth-child(2)>div:nth-child(3){flex:1;}
section.chaoshihui>article:nth-child(2)>div:nth-child(3)>img{width: 100%;}
section.chaoshihui>article:nth-child(2)>div:nth-child(4){flex:1;}
section.chaoshihui>article:nth-child(2)>div:nth-child(4)>img{width: 100%;}

section.chaoshihui>article:nth-child(3){
	display: flex;
	width: 100%;
}
section.chaoshihui>article:nth-child(3)>div:nth-child(1){flex:2;}
section.chaoshihui>article:nth-child(3)>div:nth-child(1)>img{width: 100%;}
section.chaoshihui>article:nth-child(3)>div:nth-child(2){flex:1;}
section.chaoshihui>article:nth-child(3)>div:nth-child(2)>img{width: 100%;}
section.chaoshihui>article:nth-child(3)>div:nth-child(3){flex:1;}
section.chaoshihui>article:nth-child(3)>div:nth-child(3)>img{width: 100%;}
section.chaoshihui>article:nth-child(3)>div:nth-child(4){flex:1;}
section.chaoshihui>article:nth-child(3)>div:nth-child(4)>img{width: 100%;}



footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: white;
}
footer>ul{
	width: 100%;
}
footer>ul>li{
	float: left;
	width: 20%;
	box-sizing: border-box;
	border-top: 0.01rem solid rgba(0,0,0,.1);

	border-bottom: 0.01rem solid rgba(0,0,0,.1);
}
footer>ul>li>a{
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 0.24rem;
}
footer>ul>li>a>p{
	font-size: 0.16rem;
}
@media screen and (min-width: 320px) and (max-width: 479px){
	html{
		font-size: 50px;
	}
}
@media screen and (min-width: 480px) and (max-width: 639px){
	html{
		font-size: 75px;
	}
}

