/*样式重置表*/
html,body{
	font-size: 12px;
	font-family: 'arial','微软雅黑';
}
a{
	text-decoration: none;
	color: #333;
}
body,p,h1,h2,h3,h4,h5,h6,hr,pre,ul,ol,dl,dd{margin: 0;}
input,ul,ol,textarea{padding: 0;}
ul,ol{list-style: none;}
hr{border:none;}
input{border-width:1px;}
i,address{
	font-style: normal;
}
img{
	/*display: block;*/
	/*由行内块元素转换为块级元素*/
	vertical-align: top;
	/* top/middle/bottom
	 */
	/*图片底部间隙解决办法*/
}
/*button{
	padding: 3px 8px;
	font:14px 'arial','微软雅黑';
}*/
/*hr{border:none;height: 1px;width: 600px;background: red;}
*/
/*
html,body{font-size: 12px;font-family: 'arial','微软雅黑';
font-style: italic;
color: red;
font-weight: normal;
line-height: 2em;
letter-spacing: -2px;
word-spacing: 20px;
text-align: right;
text-decoration: overline;
text-transform: uppercase;
text-indent: 40px;
}
 */